.product-name {
  margin-top: 0.5em;
  font-weight: 500;
  font-size: 2rem;
}

.product-price {
  font-weight: 400;
  font-size: 1.3rem;
}

.product {
  text-transform: uppercase;
}

.custom-action-icon {
  position: relative;
  height: 16px;
  width: 16px;
  margin-right: 2px;
  bottom: 1px;
}

.svgbutton {
  line-height: 20px;
}
