.product-name {
  margin-top: 0.5em;
  font-weight: 500;
  font-size: 2rem;
}

.product-price {
  font-weight: 400;
  font-size: 1.3rem;
}

.product {
  font-family: 'Barlow', sans-serif;
  text-transform: uppercase;
}

.custom-icon {
  height: 22px;
}

