<div class="modal-header">
  <h4 class="modal-title">Add to cart</h4>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-lg-8">
      <img src="{{product.image}}" alt="Image of {{ product.name }}" class="product-image img-fluid rounded">
    </div>
    <div class="col-lg-4">
      <h3 class="product product-name">{{ product.name }}</h3>
      <p class="product product-price">€ {{product.price}}</p>
      <form class="mt-3 bottom" [formGroup]="form" (ngSubmit)="submit()">
        <label for="quantity" class="product">Quantity: </label>
        <div class="row">
          <div class="col pr-1">
            <input type="number" class="form-control product" id="quantity" formControlName="quantity" [ngClass]="{'is-invalid': f.quantity.touched && f.quantity.invalid}">
          </div>
          <div class="col-auto pl-1">
            <button class="btn btn-primary" type="submit" [disabled]="!form.valid">
              <svg aria-hidden="true" focusable="false" role="presentation" class="custom-icon" viewBox="0 0 64 64">
                <g fill="none" stroke="#fff" stroke-width="4">
                  <path d="M25 26c0-15.79 3.57-20 8-20s8 4.21 8 20"></path>
                  <path d="M14.74 18h36.51l3.59 36.73h-43.7z"></path>
                </g>
              </svg>
              +
            </button>
          </div>
        </div>
      </form>
      <ngb-alert type="success" [dismissible]="false" class="mt-3" *ngIf="quantity">
        <strong>Success!</strong> Added {{quantity}} items to your cart.
      </ngb-alert>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="activeModal.close()">Close &times;</button>
</div>
