<div class="row">
  <div class="col-sm-12 col-md">
    <h3 class="card-title mb-3">Orders</h3>
  </div>
  <div class="col-12" *ngIf="orderService.orders.length > 0">
    <div class="table-responsive">
      <table class="table table-striped">
        <tr>
          <th>Date</th>
          <th>User</th>
          <th>Products</th>
          <th>Total</th>
          <th>View</th>
        </tr>
        <tr *ngFor="let order of orderService.orders; let id = index">
          <td>
            <span>{{order.orderDate | date}}</span>
          </td>
          <td>
            <span>{{order.user.username}}</span>
          </td>
          <td>
            <span>{{order.products.length}}</span>
          </td>
          <td>
            <span>{{order.totalPrice | number}}</span>
          </td>
          <td>
            <button class="btn btn-outline-secondary mr-2 p-2 svgbutton" (click)="openOrder(order)">
              <svg aria-hidden="true" focusable="false" data-prefix="fal" data-icon="eye" role="img"
                   xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="custom-action-icon">
                <path fill="currentColor"
                      d="M288 288a64 64 0 0 0 0-128c-1 0-1.88.24-2.85.29a47.5 47.5 0 0 1-60.86 60.86c0 1-.29 1.88-.29 2.85a64 64 0 0 0 64 64zm284.52-46.6C518.29 135.59 410.93 64 288 64S57.68 135.64 3.48 241.41a32.35 32.35 0 0 0 0 29.19C57.71 376.41 165.07 448 288 448s230.32-71.64 284.52-177.41a32.35 32.35 0 0 0 0-29.19zM288 96a128 128 0 1 1-128 128A128.14 128.14 0 0 1 288 96zm0 320c-107.36 0-205.46-61.31-256-160a294.78 294.78 0 0 1 129.78-129.33C140.91 153.69 128 187.17 128 224a160 160 0 0 0 320 0c0-36.83-12.91-70.31-33.78-97.33A294.78 294.78 0 0 1 544 256c-50.53 98.69-148.64 160-256 160z"
                      class=""></path>
              </svg>
            </button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
<h3 *ngIf="orderService.orders.length < 1" class="text-center mt-3">There are no orders in this webshop</h3>
