<div class="container">
  <ngb-alert type="secondary" [dismissible]="false" *ngIf="!backend.curUser">
    <strong>Warning!</strong> Your shopping cart will not be saved, please log in to save your shopping cart.
  </ngb-alert>
  <ngb-alert type="danger" [dismissible]="false" *ngIf="cartService.errorMessage">
    {{ cartService.errorMessage }}
  </ngb-alert>
  <div *ngIf="cartService.products.length > 0">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">Product</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
        <th scope="col">Total</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let product of cartService.getFilteredProducts()">
        <td>{{ product.name }}</td>
        <td>
          <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="minus-circle" role="img"
               (click)="productMinMin(product)"
               xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
               class="custom-action-icon plusminus mr-1">
            <path fill="currentColor"
                  d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zM124 296c-6.6 0-12-5.4-12-12v-56c0-6.6 5.4-12 12-12h264c6.6 0 12 5.4 12 12v56c0 6.6-5.4 12-12 12H124z"
                  class=""></path>
          </svg>
          {{ product.quantity | number }}
          <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="plus-circle" role="img"
               (click)="productPlusPlus(product)"
               xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
               class="custom-action-icon plusminus ml-1">
            <path fill="currentColor"
                  d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm144 276c0 6.6-5.4 12-12 12h-92v92c0 6.6-5.4 12-12 12h-56c-6.6 0-12-5.4-12-12v-92h-92c-6.6 0-12-5.4-12-12v-56c0-6.6 5.4-12 12-12h92v-92c0-6.6 5.4-12 12-12h56c6.6 0 12 5.4 12 12v92h92c6.6 0 12 5.4 12 12v56z"
                  class=""></path>
          </svg>
        </td>
        <td>€ {{ product.price | number }}</td>
        <td>€ {{ cartService.getProductPrice(product).toFixed(2)}}</td>
        <td>
          <button class="btn btn-outline-danger mr-2 p-2 svgbutton" (click)="removeProduct(product)">
            <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="trash-alt" role="img"
                 xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"
                 class="custom-action-icon">
              <path fill="currentColor"
                    d="M268 416h24a12 12 0 0 0 12-12V188a12 12 0 0 0-12-12h-24a12 12 0 0 0-12 12v216a12 12 0 0 0 12 12zM432 80h-82.41l-34-56.7A48 48 0 0 0 274.41 0H173.59a48 48 0 0 0-41.16 23.3L98.41 80H16A16 16 0 0 0 0 96v16a16 16 0 0 0 16 16h16v336a48 48 0 0 0 48 48h288a48 48 0 0 0 48-48V128h16a16 16 0 0 0 16-16V96a16 16 0 0 0-16-16zM171.84 50.91A6 6 0 0 1 177 48h94a6 6 0 0 1 5.15 2.91L293.61 80H154.39zM368 464H80V128h288zm-212-48h24a12 12 0 0 0 12-12V188a12 12 0 0 0-12-12h-24a12 12 0 0 0-12 12v216a12 12 0 0 0 12 12z"
                    class=""></path>
            </svg>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
    <button class="btn btn-secondary float-right" (click)="order()" [disabled]="!backend.curUser">{{backend.curUser ? "Order" : "Log In to Order"}}</button>
    <h3 class="mr-3">Total: € {{ cartService.getTotalPrice().toFixed(2) }}</h3>
  </div>


  <div *ngIf="cartService.products.length < 1">
    <ngb-alert type="success" [dismissible]="false" *ngIf="cartService.orderSuccess">
      <strong>Success!</strong> Your order has been submitted
    </ngb-alert>
    <h3 class="text-center mt-3">Your cart is empty</h3>
  </div>
</div>
