

<div class="container">
  <div class="center-inside d-flex justify-content-center">
    <div class="title-container">
      <h1 class="title-quote">Decals Will Tell The Story</h1>
      <span class="title-desc">We at Devcals believe decals reflect who you are and the meaning behind your work</span>
      <button class="btn btn-custom-webshop" routerLink="/shop"> Shop all bestsellers</button>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-lg-8 p-3">
      <img src="./assets/home-image.webp" class="home-img" alt="Laptop with Developer Stickers">
    </div>
    <div class="col-lg-4 p-3">
      <div class="sale-col d-flex align-items-center">
        <div class="sale-block">
          <span class="sale-title">New Year Sale</span>
          <span class="sale-desc">Whole collection now</span>
          <span class="sale-percentage">20% off</span>
        </div>
      </div>
    </div>
  </div>
</div>
